[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
pillow = "*"
cairosvg = "*"
mkdocs-rss-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "mkdocs serve --watch overrides --watch-theme --livereload"
serve = "mkdocs serve --watch overrides --watch-theme"
build = "mkdocs build"